<h2>Messages</h2>

<ul>
  <% @messages.each do |message| %>
  <li>"<%= message.body %>" sent to <strong><%= Contact.from_number(message.to) %></strong> from <strong><%= Contact.from_number(message.from) %></strong></li>
<% end %>
</ul>

<%= link_to "New Message", new_message_path %>
<%= link_to "View Contacts", contacts_path %>
